@import './mainStyles/globalVariables.scss';


#app-container {
	max-width: $PageMaxWidth;
	margin: 0 auto;
	background-color: lighten(lightgrey,15%);
	height: auto;
	padding-bottom: 0;
}

#max-width-container {

	width: 100%;
	margin: 0;
	padding: 0;
	position: relative;	
	background-color: lighten(lightgrey,15%);
	
}

#app-error-container {
	position: absolute;
	top: 0;
	left: 0;
	background: $ErrorColor;
	padding: 2px 10px;
	color: white;
	border-radius: 3px;
	@include fontSize(1.4);
	margin-bottom: 10px;
}

#app-error-message {
	margin-left: 10px;
	color:white;
}