@import '../../mainStyles/globalVariables.scss';

.item-added-to-cart-container {

	position: absolute;
	top: 10%;
	left: 30%;
	width: 40%;	
	background-color: white;
	opacity: 1;
	z-index: 500;

	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	box-shadow: $darkShadow;
	border-radius: 5px;
	border: 1px solid white;
}

.item-added-to-cart-icon {
	color: green;
}

.item-added-to-cart-image {
	max-width: 50%;
}

#item-added-to-cart-buttons-container {

	width: 80%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-evenly;
	margin: 30px 0;

}

#item-added-to-cart-cart-data {

	margin: 0;
	padding: 0;
	@include fontSize(1.2);
	


	span {
		font-weight: bold;
	}
}