#home-grid {
	display: grid;
	grid-template-areas:
	"deals  deals  deals  deals"
	"anim1  season season season";
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: repeat(2, auto);
	gap: 10px;

	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	
}