#item-sheet-images-container {
	grid-area: images;
	background-color: white;

	display: grid;
	grid-template-areas:
	"image    image"
	"image    image"
	"gallery  gallery";
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(2, auto);
	gap: 10px;
	
}

#item-sheet-big-image-container {
	grid-area: image;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 500px;
}

#item-sheet-big-image {
	max-width: 500px;
	max-height: 500px;
}