@import '../../mainStyles//globalVariables.scss';


.deals-item {
	
	max-height: 220px;
	margin: 10px 0 50px 0;
}

.deals-items-image-container {
	width: 100%;	
	display: flex;
	justify-content: center;	
	
}

.deals-items-image-center {
	width: 40%;
	position: relative;	
	max-height: 200px;
	
	&:hover img {		
		opacity: 0.5;
	}	

	&:hover button {
		opacity: 1;
	}
	display: flex;
	justify-content: center;

	& > a {
		outline: none;
	}

}

.deals-items-image {
	width: 100%;
	max-width: 200px;	
	transition: all .1s linear;
		
}

.deals-item-caption {
	@include fontSize(1.3);
	color: black;
	font-family: 'Montserrat', Verdana, Geneva, Tahoma, sans-serif;	
	font-weight: bold;
	text-align: center;
	margin: 0 auto;
	padding: 10px 0;
	max-width: 500px;
	line-height: 1.5rem;
	
}

.deals-items-button {
	position: absolute;
	top: 40%;
	left: 40%;
	opacity: 0;
	transition: all .1s linear;
	@extend %quick-look-button;
	
	
}
