@import '../../mainStyles/globalVariables.scss';


#header-search-container {
	margin-bottom: 20px;
	box-shadow: $Light-Header-Box-Shadow;
	border-radius: 5px;
	
	@include forSmallScreens(1280) {
		margin-bottom: 25px;
	}
	
	@include forSmallScreens(740) {
		margin-bottom: 20px;
	}

}

#input-search {
	font-size: 1.8rem;

	@include forSmallScreens(570) {
		font-size: 2rem;
	}
}