$mainBlack: #000;
$mainWhite: #FFF;
$mainTransition: all 0.3s linear;

$lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
$darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);

$Yellow-Crazy: #F5DF4A;
$Yellow-Dark: #ffc107;
$Blue-Clear: #4B5C96;
$Blue-Base: #354069;
$Blue-Dark: #252D4A;
$Purple-Clear: #EAC9FF;
$Light-Header-Box-Shadow: 1px 1px 5px whitesmoke;
$Light-Header-Text-Shadow: white 1px 1px 10px;
$mainSpacing1: 2px;
$LightBlue: #A6D3FA;
$LightCoral: lightcoral;
$ErrorColor: rgba(255, 100, 100, 0.85);


$PageMaxWidth: 1280px;



// Font-face Mixin

@mixin fontFace($font-family,$file-path) {
    
    @font-face {
        
        font: {
            family: $font-family;
            weight: normal;
            style: normal;
        }    
        //Modern Browsers
        src: url('#{$file-path}.ttf') format('truetype'),
            url('#{$file-path}.woff') format('woff');
    }
        
}

// Pixels to Rems Mixin

@mixin fontSize($sizeValue: 1.6) {  // 1rem = 10px , 1.6rem = 16px
    
    font-size: ($sizeValue * 10) + px;
    font-size: $sizeValue + rem;
    
}


//Desktop-first Media Query Mixin
@mixin forSmallScreens($media) {
    
    @media (max-width: $media/16+em) { @content; }
}

@mixin btn-border-drawing($color: #ccc, $hover: black, $width: 2px, $vertical: top, $horizontal: left, $duration: 0.25s) {

	box-shadow: inset 0 0 0 $width $color;
	color: $color;
	transition: color $duration $duration/3;
	position: relative;
	
	&::before,
	&::after {
	  border: 0 solid transparent;
	  box-sizing: border-box;
	  content: '';
	  pointer-events: none;
	  position: absolute;
	  width: 0; height: 0;
	  
	  #{$vertical}: 0; 
	  #{$horizontal}: 0;
	}
  
	&::before {
	  $h-side: if($horizontal == 'left', 'right', 'left');
	  
	  border-#{$vertical}-width: $width;
	  border-#{$h-side}-width: $width;
	}
	
	&::after {
	  $v-side: if($vertical == 'top', 'bottom', 'top');
	  
	  border-#{$v-side}-width: $width;
	  border-#{$horizontal}-width: $width;
	}
	
	&:hover {
	  color: $hover;
	  
	  &::before,
	  &::after {
		border-color: $hover;
		transition: border-color 0s, width $duration, height $duration;
		width: 100%;
		height: 100%;
	  }
	  
	  &::before { transition-delay: 0s, 0s, $duration; }
	  
	  &::after { transition-delay: 0s, $duration, 0s; }
	}
  }


  %quick-look-button {
	background: $Blue-Base;
	color: $LightBlue;
	border: 1px solid $Blue-Base;
	border-radius: 5px;
	@include fontSize(1);
	padding: 0 10px;

	&:hover {
		background: rgba($Blue-Clear, .70);
		color: white;
	}
}




